<nav>
  <ul class="nav">
    <% if (locals.currentUser) { %>
      <% if (locals.dashboard) { %>
        <li><a href="/dashboard">Dashboard</a></li>
      <% } %>
      <li><a href="/logout">Logout</a></li>
    <% } else { %>
      <% if (locals.home) { %>
        <li><a href="/">Home</a></li>
      <% } %>
      <% if (locals.signUp) { %>
        <li><a href="/sign-up">Sign Up</a></li>
      <% } %>
      <% if (locals.login) { %>
        <li><a href="/login">Login</a></li>
      <% } %>
    <% } %>
  </ul>
</nav>
