<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <header>
      <h1><%= locals.title %></h1>
      <%- include('./partials/nav', { home: true, signUp: true }) %>
    </header>
    <main>
      <form action="/login" method="post" class="login">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <button type="submit" class="primary">Login</button>
      </form>
      <% if (locals.errors) { %>
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error %></li>
          <% }) %>
        </ul>
      <% } %>
    </main>
  </body>
</html>
