* {
  font-family: 'Inter', 'Roboto', sans-serif;
  box-sizing: border-box;
}

:root {
  --base-font-size: 1.1rem;
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 2rem;
  background-color: #212529;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

li, 
label,
button,
span {
  font-size: var(--base-font-size);
}

h1,
h2,
p {
  margin: 0;
}

a:any-link {
  color: #6ea8fe;
}

a.file-download,
button {
  font-weight: 600;
}

a.folder:any-link,
a.file-download:any-link {
  text-decoration: none;
}

a.resource-icon-name,
div.resource-icon-name {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
}

button,
input::file-selector-button,
a.file-download {
  padding: 0.375rem 0.75rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
}

button.action,
a.action {
  width: 100%;
  text-align: start;
}

button.dropdown-toggle {
  margin: 0;
  padding: 0;
  height: 1.5rem;
  aspect-ratio: 1/1;
  background-color: transparent;

  &:hover {
    background-color: hsl(206, 5%, 35%);
  }
}

button.delete {
  background-color: #dc3545;
}

button.details {
  background-color: #0dcaf0;
}

button.close {
  background-color: #6c757d;
}

button.primary {
  background-color: #0d6efd;
}

button.secondary,
a.file-download,
input::file-selector-button {
  background-color: #6c757d;
}

dialog {
  border: solid thin gray;
  border-radius: 0.3rem;
  background-color: #262a2f;
  color: white;
}

dialog::backdrop {
  background-color: hsl(0, 0%, 0%, 0.375);
}

dialog label {
  margin-bottom: 0.5rem;
  display: block;
}

div.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

div.form-buttons {
  margin-top: 1rem;
}

div.dropdown {
  height: 1.5rem;
  aspect-ratio: 1/1;
  position: relative;
  display: block;
}

div.dropdown-actions {
  display: none;
  position: absolute;
  z-index: 1;
}

div.dropdown-buttons {
  display: flex;
  flex-direction: column;
  width: max-content;

  a,
  button {
    border: solid thin gray;
    border-top: none;
    border-radius: 0;
  }
}

div.dropdown-buttons:first-child {
  border-top: solid thin gray;
}

div.dropdown-actions.child {
  right: 0;
}

div.folder-path,
nav.folder-path,
div.current-folder {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

nav.folder-path {
  flex-wrap: wrap;
}

div.resource-create-buttons,
div.form-buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

div.resources-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form.sign-up,
form.login {
  display: flex;
  flex-direction: column;
  
  label {
    margin-bottom: 0.5rem;
  }

  input {
    margin-bottom: 1rem;
  }

  button {
    margin-top: 0.5rem;
  }
}

li.card {
  background-color: #272b30;
  border-radius: 0.375rem;
}

li.card:hover {
  background-color: #424649;
}

li.child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.375rem 0.75rem;
}

input {
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  border: thin solid lightgray;
  border-radius: 0.3rem;
}

input#file {
  width: 100%;
}

input::file-selector-button {
  margin: 0.5rem;
  margin-left: 0;
}

header,
main {
  width: 100%;
  max-width: 64rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

main > * {
  width: 100%;
}

main > svg.folder-arrow-up-down {
  max-width: 48rem;
}

p,
span.modal-info {
  font-size: var(--base-font-size);
}

span.resource-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

svg {
  fill: white;
}

svg.icon {
  height: 1.5rem;
  aspect-ratio: 1/1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.resource-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 0.75rem;
}

ul.nav {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

ul.nav li {
  width: max-content;
}

ul.file-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (width >= 40rem) {
  form.sign-up,
  form.login {
    max-width: 40rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 1rem;
    column-gap: 0.5rem;
    align-items: center;
    

    label,
    input,
    button {
      margin: 0;
    }

    label {
      justify-self: end;
    }

    button {
      width: max-content;
      grid-column: 2;
    }
  }
}